nav li:hover, nav li a:hover {
  background-color:#9900CC;
}

h5 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 10px;
  font-style: italic;
}

.intr {
  text-align: center;
  width: 100%;
  padding-left: 2%;
}

h4 {
  font-size: 1.1em;
}

.btm li a:hover {
  text-decoration: none;
  color: #00630C;
}

td {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #FFFFAA;
  border: 1px solid #00630C;
}

h1 {
  text-align: center;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 2.4em;
}

h3 {
  text-align: center;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.3em;
}

h6 {
  font-family: 'Sylfaen', Arial, fantasy;
  font-size: 2.2em;
  line-height: 1px;
}

.buffer2 {
  height: 500px;
}

.imbg {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  background-image: url('../img/rtbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.buffer {
  height: 150px;
}

.imbg h2 {
  font-size: 3.6em;
  color: #FFF;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 7px;
}

.imbg h4 {
  font-size: 1.6em;
  color: #FFF;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 7px;
}

.redd {
  border: 2px solid #FF3333;
  border-radius: 12px;
  padding: 3px 3px 3px 6px;
}

.redd h1 {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration-style: double;
}

.menu {
  background-color: #FFF;
  width: 100%;
  z-index: 800;
  position: fixed;
  padding-left: 10%;
  margin-right: 10%;
  display: inline-block;
  box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.6);
  -moz-animation-name: dropHeader;
   -moz-animation-iteration-count: 1;
   -moz-animation-timing-function: ease-in;
   -moz-animation-duration: 0.3s;
   -webkit-animation-name: dropHeader;
   -webkit-animation-iteration-count: 1;
   -webkit-animation-timing-function: ease-in;
   -webkit-animation-duration: 0.3s;
   animation-name: dropHeader;
   animation-iteration-count: 1;
   animation-timing-function: ease-in;
   animation-duration: 0.3s;
}

.footer {
  background-color: #FFCCCC;
  padding-left: 15%;
  margin-top: 3%;
  padding-top: 12px;
}

.footer a {
  text-decoration: none;
  color: #000;
}

.footer a:hover {
  color: #FF3333;
}

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-40px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-40px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}

.menu li {
  display: inline-block;
  line-height: 60px;
  font-weight: bold;
  border: 2px solid #000;
  background-color: #FFF;
  width: 10%;
  text-align:center;
  font-family: sans-serif;
  -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -ms-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
}

.logoi img {
  width: 40%;
  display: inline-block;
  float: left;
  position: relative;
}

.mapsect {
  width: 40%;
  margin-left: 10%;
  display: inline-block;
  float: left;
  position: relative;
}

.controller {
  width: 38%;
  display: inline-block;
  float: right;
  background-image:url('../img/contrbg.jpg');
  margin-right: 10%;
  position: relative;
}

.sldlbl, .larbut {
  margin-left: 10px;
}

.menu li a {
  color: #000;
  text-decoration: none;
}

.menu li a:hover {
  color: #FFF;
}

.redc {
  background-color: #FF3333;
  padding: 3px 3px 6px 3px;
}

.distbut {
  border: 2px solid #FF3333;
  background-color: #FFF;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  border-radius: 18px;
  box-shadow: 1.5px 1.5px 1.5px #000000, 0px 0px 1.8px #0d0d0d;
  margin-top: 10px;
}

.distbut:hover {
  background-color: #ffcccc;
  box-shadow: 0.2px 0.2px 0.2px 0.2px #000000;
}

.larbut {
  width: 96%;
  height: 200px;
  float: center;
  font-size: 4.1em;
  border: 2px solid #FF3333;
  background-color: rgba(255, 0, 25, 0.5);
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  border-radius: 18px;
  box-shadow: 2.0px 2.5px 2.5px #000000, 0px 0px 2.8px #0d0d0d;
  margin-top: 10px;
}

.larbut:hover {
  background:linear-gradient(180deg, #FF3333, #9900CC);
  box-shadow: 0.6px 0.6px 0.6px 0.6px #000000;
}

.cform {
  margin-left: 20%;
}

.abimg {
  width: 15%;
  margin-left: 15%;
  display: inline-block;
  position: relative;
}

.abimg img {
  width: 100%;
  border: 3px solid #FF3333;
  border-radius: 200px;
}

.abtxt {
  padding-bottom: 10px;
  position: relative;
  float: right;
  width: 50%;
  margin-right: 10%;
  display: inline-block;
  transform: translateY(-16%);
}

.butcon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.abtxt h1 {
  font-size: 3.0em;
  color: #FF3333;
  letter-spacing: 0.3em;
  font-weight: bold;
}

.abrow {
  height: 240px;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 60%;
      }
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-left: 10px;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.controlb {
  display: none;
}

.controlb {
  display: none;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

.buffor1 {
  height: 100px;
}

.txtin {
  margin-left: 30%;
  margin-right: 30%;
  font-size: 2.2em;
  font-family: Oxygen; sans-serif;
  width: 40%;
}

#type-selector {
  color: #FF3333;
  position: relative;
  width: 70%;
  padding: 5px 11px 0px 11px;
  margin-bottom: 6px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

input[type=range] {
  -webkit-appearance: none;
  width: 95%;
  padding-left: 10px;
  margin: 0.4px 0;
  margin-top: 10px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 30%;
  height: 34.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background-image:url('../img/sliderbg.jpg');
  border-radius: 35px;
  border: 2px solid #FF3333;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0), 0px 0px 1.8px rgba(255, 26, 26, 0);
  border: 2.9px solid #FF3333;
  height: 32px;
  width: 18%;
  border-radius: 50px;
  background-image:url('../img/buttonbg.jpg');
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4px;
}

input[type=range]::-moz-range-track {
  width: 30%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background-image:url('../img/sliderbg.jpg');
  border-radius: 35px;
  border: 2px solid #FF3333;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0), 0px 0px 1.8px rgba(255, 26, 26, 0);
  border: 2.9px solid #FF3333;
  height: 32px;
  width: 18%;
  border-radius: 50px;
  background-image:url('../img/buttonbg.jpg');
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 30%;
  height: 31.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FFF;
  border-radius: 35px;
  border: 2px solid #FF3333;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #FFF;
  border-radius: 35px;
  border: 2px solid #FF3333;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0), 0px 0px 1.8px rgba(255, 26, 26, 0);
  border: 2.9px solid #FF3333;
  height: 32px;
  width: 18%;
  border-radius: 50px;
  background: #FFCCCC;
  cursor: pointer;
  height: 31.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFFFFC;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FFFFFC;
}
